
@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/gilroy-bold/Gilroy-Bold.ttf') format('truetype');
    
  }
  
  
  @font-face {
    font-family: 'GilroyHeavy';
    src: url('../fonts/gilroy-bold/Gilroy-Heavy.ttf') format('truetype');
    
  }

  @font-face {
    font-family: 'GilroyLight';
    src: url('../fonts/gilroy-bold/Gilroy-Light.ttf') format('truetype');
    
  }

  @font-face {
    font-family: 'GilroyMedium';
    src: url('../fonts/gilroy-bold/Gilroy-Medium.ttf') format('truetype');
    
  }

  @font-face {
    font-family: 'GilroyRegular';
    src: url('../fonts/gilroy-bold/Gilroy-Regular.ttf') format('truetype');
    
  }

  :root {
    --normal-font: 1.5rem;
    --smaller-screen-normal-font:1rem;
    --subheader-font: 2rem;
    --header-font: 3rem;
    --smaller-screen-header-font:2rem;
    --smaller-screen-subheader-font:1.3rem;
    --primary-color: #17C95F;
    --secondary-text-color: #787F88;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
  }

  body {
    font-family: 'GilroyRegular', sans-serif;
    line-height: var(--line-height);
  }

  footer {
    padding: 1rem 0;
    margin: 10vh 0;
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1rem;
    width: 100vw;
  }

    h1,
    h2,
    h3{
        margin-top: 0;
    }





  .hero {
    padding: 1rem 0;
    
    text-align: center;
    
    width: 100vw;
    background: linear-gradient(to top left, #FEEFC7,#E3F1E7);
    background-size: 100% 85%;
    background-repeat: no-repeat;
    
  }

  .why {
    text-align: center;
    padding: 1rem 0rem;
    justify-items: center;
  }

  .featured-by {
    font-family: 'GilroyBold', sans-serif;
    background: #F4F5F8;
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    
    color: #959AA5;
    text-transform: uppercase;
    font-size: 0.4rem;
  }

  .steps {
    background-color: #F6FEF7;
    padding: 1rem 0;
    
    text-align: center;
    
    width: 100vw;
  }

  .user-reviews {
    /* background-color: #F6FEF7; */
    padding: 1rem 0;
    margin: 2vh 0;
    text-align: center;
    
    width: 100vw;
  }

  .crush-debt {
    background: linear-gradient(to right, #E5F1E3 0%, #BAE8CB 100%);
    /* padding: 1rem 0; */
    margin: 2vh 0;
    text-align: center;
    width: 100vw;
  }

  .featured-by img {
    max-width: 100%; 
    height: auto;    
    width: 10%;      
}

.featured-by img.cnbc {
    width: 5%; 
    height: auto; 
}

  .container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
    
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1.06px solid transparent;
        border-image: conic-gradient(
            from 135deg, 
            #FFFFFF80,   
            #00000000 50%,
            #FFFFFF80 75%, 
            #00000000
        ) 1;
        border-radius: 10px;    
        
    }

    .container-flex{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:5vh 0;

    }

    .container-features {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        gap:1rem;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .container-reviews::-webkit-scrollbar {
        display: none;
    }

    .container-reviews {
        display: flex;
        overflow: hidden; 
        flex-wrap: nowrap;
        gap: 1rem; 
        scroll-snap-type: x mandatory; 
    }

    .container-steps{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        
        justify-content: center;
        padding:10vh 0 0 0;

    }


    .container-left-img {
        display: flex;
        /* margin: 0 200px;
        margin-top: 3vh;
        padding: 5vh 0 0 0; */
        flex-direction: column-reverse;
        justify-content: flex-start;
        
        gap: 2rem;
        position: relative;
        /* justify-content: center; */
        
    }

    .container-left-img::before {
        content: "";
        position: absolute;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 2px; 
        background: #F4F5F8 ;
        border-radius: 2px; 
    }

    .container-right-img {
        display: flex;
        /* margin: 0 200px;
        margin-top: 3vh;
        padding: 5vh 0 0 0; */
        flex-direction: column-reverse;
        justify-content: flex-start;
        
        gap: 2rem;
        position: relative;
        /* justify-content: center; */
        
    }

    .container-right-img::before {
        content: "";
        position: absolute;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 2px; 
        background: #F4F5F8 ;
        border-radius: 2px; 
    }

    .container-crush-debt {
        /* flex-basis: 50%; */
        /* height: 50vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: auto auto; */
        
    }

    
    
    .btn {
        color: #FFF;
        background: #0E1E14;
        font-family: 'GilroyMedium', sans-serif;
        font-size: 1rem;
        width: 40vh;
        height: 5vh;
        margin: 2vh auto;
        
        /* font-weight: 500; */
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border: none;
    }

    .btn img {
        margin-left: 0.8rem;
        /* background-color: #FFF; */
    }

    .feature-item {
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        
    }

    .feature-icon {
        vertical-align: middle;
        height: 1.2rem;
    }

    .feature-icon-alt {
        vertical-align: middle;
        height: 3rem;
    }
    
    .feature-text {
        padding-left: 1rem;
        vertical-align: middle;
        text-align: left;
    }


    .container-image {
        width: 75%;
        margin-top: 2rem;
        position: relative;
        z-index: 1;
    }


    .download-bright {
        position: absolute;
        display: none;
        width: 150px;
        top:150px;
        right: -135px;
        z-index: 100;
    }

    .review-card {
        flex: 1 1 calc(20% - 2rem); 
        max-width: 15rem; 
        min-width: 12rem; 
        background: #F4F5F8;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        scroll-snap-align: start;
        text-align: left;
    }
    
    .container img {
        max-width: 100%;
    }

    .temp{
        padding: 0 2rem;
    }

    .bold-text {
        font-family: 'GilroyBold', sans-serif;
        font-size: var(--smaller-screen-header-font);
        line-height: 2rem;
    }

    .light-text {
        font-family: 'GilroyLight', sans-serif;
        font-size: 2rem;
        line-height: 2rem;
    }

    .header-text {
        font-family: 'GilroyBold', sans-serif;
        line-height: 2rem;
        font-size: var(--smaller-screen-header-font);
        padding: 0 2rem;
        padding-bottom: 3rem;
    }

    .header-lightText {
        font-family: 'GilroyRegular', sans-serif;
        font-weight: lighter;
    }

    .header-smallText {
        font-family: 'GilroyRegular', sans-serif;
        font-weight: lighter;
        font-size: 0.8rem;
        
    }

    .logos img{
        width: 10vw;
    
      }

    .line-why {
        margin: 0 auto;
        margin-bottom: 1.5rem;
        width: 90%;
        
    }

    .step-image {
        
        height: 35vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step-content {
        padding: 2vh 4vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: flex-start; */
        gap: 1rem;
        text-align: left;
    }

    .step-content h3 {
        color: var(--primary-color);
    }

    .step-content h4 {
        font-family: 'GilroyMedium', sans-serif;
        font-size: var(--smaller-screen-subheader-font);
        line-height: 2rem;
    }

    .step-content p {
        font-size: var(--smaller-screen-normal-font);
        color: #787F88;
        /* padding-right: 4rem; */
        line-height: 1.5rem;
    }

    .step-content a {
        padding-top: 3vh;
        color: #0e0e0e;
        text-decoration: none;
        font-weight: bold;
        font-family: 'GilroyBold', sans-serif;
        transition: color 0.3s ease;
        font: 1rem;
    }

    .step-content span {
        padding-left: 1rem;
        color: var(--primary-color);
    }

    .review-card p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 0.8rem 0;
    }

    .review-card h4 {
        font-size: 0.8rem;
    }

    .stars {
        background: linear-gradient(to right, #17C95F 0%, #138241 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
    }

    .faq-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 1.5px solid #ccc;
        padding: 2.5rem 0;
        font-family: 'GilroyMedium', sans-serif;
        font-size: 1.2rem;
        text-align: left;
    }

    .container-steps h1 {
        line-height: 3rem;
    }

    .container-crush-debt h1 {
        margin: 1rem auto;
        text-align: left;
        /* line-height: 4rem; */
    }

    .container-crush-debt p {
        
        text-align: center;
        
    }

    .container-crush-debt img {
        width: 100%;
    }

    nav{
        font-family: 'GilroyLight', sans-serif;
        font-size:0.45rem;
        color: var(--secondary-text-color);
    
    }
    nav ul{
        list-style: none;
        
        display:flex;
        /* flex-direction: column; */
        /* justify-content: space-between ; */
        padding:0;
        justify-content: center;
    
    }

    nav p {
        display: none;
        padding-right: 1rem;
        
    }
    nav li{
        
            /* margin-top: 1em; */
            display: flex;
            align-items: center;
    
        /* margin:0 1em; */
    }
    nav a{
        color: #707070;
        text-decoration: none;
        font-weight:700;
        /* padding:0.25rem; */
    
    }

    nav img {
        /* background-color: #0e0e0e; */
        padding: 5px;
        border-radius: 5px;
        width: 10vw;
    }

    footer span {
        text-decoration: underline;
    }

    footer ol {
        padding: 2rem;
        color: var(--secondary-text-color);
    }

    @media (min-width: 1160px) {

        .container-left-img {
            display: flex;
            margin: 0 200px;
            margin-top: 3vh;
            padding: 5vh 0 0 0;
            justify-content: flex-start;
            flex-direction: row;
            gap: 2rem;
            position: relative;
            border-top: 2px solid; 
            border-image: linear-gradient(to right, #F6FEF7 0%, #BAE8CB 100%);
            border-image-slice: 1; 
        }
        
        .container-left-img::before,
        .container-left-img::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 0; 
            background: linear-gradient(to bottom, #F6FEF7 0%, #BAE8CB 100%);
            border-radius: 2px;
            transition: height 0.3s ease; 
        }
        
        .container-left-img::before {
            top: 0;
            left: 0;
        }
        
        .container-left-img::after {
            top: 0;
            right: 0;
        }
        
        .container-left-img:hover::before,
        .container-left-img:hover::after {
            height: 100%; 
        }
        

        .container-right-img {
            display: flex;
            margin: 0 200px;
            margin-top: 3vh;
            padding: 5vh 0 0 0;
            justify-content: flex-start;
            flex-direction: row-reverse;
            gap: 2rem;
            position: relative;
            border-top: 2px solid; 
            border-image: linear-gradient(to right, #F6FEF7 0%, #BAE8CB 100%);
            border-image-slice: 1; 
        }
        
        .container-right-img::before,
        .container-right-img::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 0; 
            background: linear-gradient(to bottom, #F6FEF7 0%, #BAE8CB 100%);
            border-radius: 2px;
            transition: height 0.3s ease; 
        }
        
        .container-right-img::before {
            top: 0;
            left: 0;
        }
        
        .container-right-img::after {
            top: 0;
            right: 0;
        }
        
        .container-right-img:hover::before,
        .container-right-img:hover::after {
            height: 100%; 
        }
        
    }


    @media (min-width:675px) {

        .featured-by {
            font-family: 'GilroyBold', sans-serif;
            background: #F4F5F8;
            display: flex;
            justify-content: center;
            gap: 40px;
            align-items: center;
            padding:  4vh 200px ;
            color: #959AA5;
            text-transform: uppercase;
            font-size: 0.8rem;
          }

        .logos img{
            width: 4vw;
        
          }

          nav img {
            /* background-color: #0e0e0e; */
            padding: 5px;
            border-radius: 5px;
            width: 2.75vw;
        }

        nav p {
            display: block;
            padding-right: 1rem;
            font-size: 0.5rem;
            
        }

        .bold-text {
            font-family: 'GilroyBold', sans-serif;
            font-size: 5rem;
            line-height: 5.5rem;
        }
    
        .light-text {
            font-family: 'GilroyLight', sans-serif;
            font-size: 5rem;
            line-height: 5rem;
        }

        .header-text {
            font-family: 'GilroyBold', sans-serif;
            font-size: var(--header-font);
            padding-bottom: 3rem;
        }

        
        
        .container-reviews {
            padding: 4vh 0;
            display: flex;
            justify-content: center; 
            gap: 2rem; 
            flex-wrap: wrap; 
            font-size: 1rem;
            font-weight: 500;
            margin: 0 auto; 
        }

        .container-features {
            padding: 7vh 0;
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            justify-content: center;
            font-size: 1rem;
            font-weight: 500;
        }

        
        
        .container-crush-debt {
            flex-basis: 50%;
            height: 50vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: auto auto;
            
        }

        .container-crush-debt h1 {
            margin: auto 0rem;
            text-align: left;
            line-height: 4rem;
        }
        .container-crush-debt p {
        
            text-align: left;
            
        }
        .container-crush-debt img {
            width: 50%;
        }

        

        .step-image {
        
            height: 55vh;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .step-content {
            padding: 6vh 4vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            /* align-items: flex-start; */
            gap: 1rem;
            text-align: left;
        }
    

        .step-content h4 {
            font-family: 'GilroyMedium', sans-serif;
            font-size: var(--subheader-font);
            line-height: 3rem;
        }

        .step-content p {
            font-size: var(--normal-font);
            color: #787F88;
            padding-right: 4rem;
            line-height: 2rem;
        }

        .feature-item {
            display: flex;
            align-items: center;
            gap: 1rem;
            /* background-color: #f4f5f8; */
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease; 
        }
        
        .feature-item:hover {
            transform: translateY(-10px) scale(1.05); 
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
        }

        .feature-icon {
            vertical-align: middle;
            height: 2rem;
        }

        .btn {
           
            display: none;
            border: none;
        }

        .download-bright {
            position: absolute;
            display: block;
            width: 250px;
            /* width: 30%; */
            top:150px;
            right: -135px;
            z-index: 100;
        }

        .container img {
            max-width: 100%;
        }
        
        .line-why {
            margin: 0 auto;
            width: 90%;
            
        }

        .faq-item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 1.5px solid #ccc;
            padding: 2.5rem 0;
            font-family: 'GilroyMedium', sans-serif;
            font-size: 1.4rem;
        }
    
    }

